
/* 0, 0, 0, 0 */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* 0,0,0,2 = 2*/
main h1 {
  color: royalblue;
}



/* 0, 0, 0, 0 */
h2.sub-title {
  color: darkgray;
}

/* 0, 0, 0, 0 */
#page-header .navigation .menu {
  display: flex;
  list-style: none;
}

/* 0, 0, 0, 0 */
.navigation .menu-item {
  font-size: 3em;
  margin: 0.5em;
}

/* 0,0,0,0 */
.menu-item a {
  text-decoration: none;
}

/* 0,0,0,0 */
header .menu-item a {
  padding: 0.2em;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

/* 0,0,0,0 */
header .menu-item a.active {
  background-color: gold;
}

/* 0,0,0,0 */
header .menu-item a:hover {
  background-color: coral;
}

/* 0,0,0,0 */
p#description {
  font-style: italic;
  color: dimgrey;
}

